#-------------------------------------------------------------------------------------
# Postgres Database Local Environment - Example
#-------------------------------------------------------------------------------------

# Nome do usuário principal do banco de dados. Geralmente, é o administrador ou uma conta configurada para acesso geral.
POSTGRES_USER=postgres     

# Senha associada ao `POSTGRES_USER`. Deve ser segura e, em ambientes de produção, seguir boas práticas de segurança.
POSTGRES_PASSWORD=<SUA_SENHA> 

# Fuso horário do servidor de aplicação. Use valores padrão do banco de dados para configurar corretamente o timezone.
TZ=America/Sao_Paulo

# Fuso horário do PostgreSQL. É importante garantir que esteja alinhado com o fuso horário do sistema.
PGTZ=America/Sao_Paulo               

# Nome do banco de dados onde as operações serão realizadas. Deve refletir o nome do banco configurado no PostgreSQL.
DATABASE_NAME=<NOME_DO_BANCO>        

# Nome do schema usado no banco de dados. Ele organiza tabelas e outros objetos do banco de dados.
DATABASE_SCH=<NOME_DO_SCHEMA>        

# Usuário responsável pelas operações DDL (Data Definition Language), como criação e alteração de tabelas, índices, etc.
DDL_USERNAME=<USUARIO_DDL>           

# Senha do usuário DDL. Deve ser forte e seguir as políticas de segurança definidas para acesso administrativo.
DDL_PASSWORD=<SENHA_DDL>             

# Usuário responsável pelas operações DML (Data Manipulation Language), como `SELECT`, `INSERT`, `UPDATE` e `DELETE`.
DML_USERNAME=<USUARIO_DML>           

# Senha do usuário DML. Também deve ser forte, mas normalmente tem permissões limitadas para operações no banco.
DML_PASSWORD=<SENHA_DML>             