<!DOCTYPE html>
<html lang="pt-br" th:replace="~{conectcar/base :: layout (~{:: main})}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CPQD Orbill Backoffice - Empresa</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">
	
	<main>
	
    <div class="container-fluid">
	
	<h1 class="h3 mb-0 text-primary">Empresa</h1>
	
	<!-- Divider -->
	<hr class="sidebar-divider">
	
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Sobre a CONECTCAR</h6>
                </div>
                <div class="card-body text-primary">
                    <p>...</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Serviços</h6>
                </div>
                <div class="card-body">
                    <p class="font-weight-bold text-primary">Os principais serviços oferecidos pela CONECTCAR que o CPQD atende são: </p>
                    <ul>
                    
                    	<!-- Divider -->
						<hr class="sidebar-divider">
						
                    	<li class="text-primary">...</li>                  		
                    	
                    	<!-- Divider -->
						<hr class="sidebar-divider">
                    		
                    	<li class="text-primary">...</li>
                    	
                    	<!-- Divider -->
						<hr class="sidebar-divider">
                    	
                    	<li class="text-primary">...</li>
                    	
                    	<!-- Divider -->
						<hr class="sidebar-divider">
                    	
                    </ul>
                    <!-- <p>Para ter uma visão geral sobre a relação entre os serviços da Star One e o CPQD <a href='' target="_blank">acesse esta apresentação</a> feita pelo....</p> -->
                </div>
            </div>
        </div>
        
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Onde entra o CPQD?</h6>
                </div>
                <div class="card-body text-primary">
                    <p>...</p>
                </div>
            </div>
        </div>
	</div>
	
	</main>    

</body>
</html>