<!DOCTYPE html>
<html lang="pt-br" th:replace="~{conectcar/base :: layout (~{:: main})}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CPQD Orbill Backoffice - Faturamentos</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">
	
	<main>
	
	<!-- Begin Page Content -->
    <div class="container-fluid">
	
	<h1 class="h3 mb-0 text-primary">Faturamentos</h1>
	
	<!-- Divider -->
	<hr class="sidebar-divider">
	
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Faturamento Dia 01 - White Label Com e Sem Recorrente</h5>
                </div>
                <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>Todo último dia útil do mês, deve ser agendado para o dia 01 do mês seguinte.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/conectcar/artigo-156">como gerar o faturamento do dia 01</a>.</p>
                </div>
            </div>
        </div>
        
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Faturamento Dia 25 - MaxiFrota e Segsat</h5>
                </div>
               <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>Todo dia 25, agendar para rodar no dia 26.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/conectcar/artigo-155">como gerar o faturamento do dia 25 (MaxiFrota e Segsat)</a>.</p>
                </div>
            </div>
        </div>
        
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Prévia do Faturamento Dia 01 - White Label Sem Recorrente</h5>
                </div>
               <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>Todo dia 26, agendar para rodar no dia 27.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/conectcar/artigo-162">como agendar a prévia do faturamento White Label Sem Recorrente</a>.</p>
                </div>
            </div>
        </div>
              
	</div>
	
	</main>    

</body>
</html>