<!DOCTYPE html>
<html lang="pt-br" th:replace="~{sto/base :: layout (~{:: main})}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CPQD Orbill Backoffice - Outsourcing Changes</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">
	
	<main>
	
    <div class="container-fluid">
	
	<h1 class="h3 mb-0 text-primary">Suporte / Dicionário</h1>
	
	<!-- Divider -->
	<hr class="sidebar-divider">
	
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">O que é o Dicionário?</h6>
                </div>
                <div class="card-body">
                    <p>Duarante o dia a dia, usamos muitas palavras que não são comuns pra quem não é da área ou não conhece o cliente.</p>
                    <p>O dicionário é uma forma de facilitar o entendimento destes termos, seja pra quem não conhece ou pra quando é preciso lembrar o que significa determinada palavra.</p>
                    <p>Para ver o dicionário <a href="/sto/artigo-73">acesse este artigo</a>.<p>
                    <p>Sempre que necessário atualize o dicionário, adicionando novos termos ou melhorando a definição dos já existentes, basta editar o artigo.</p>
                </div>
            </div>
        </div>
                     
	</div>
	
	</main>    

</body>
</html>