<!DOCTYPE html>
<html lang="pt-br" th:replace="~{sto/base :: layout (~{:: main})}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CPQD Orbill Backoffice - Faturamentos</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">
	
	<main>
	
	<!-- Begin Page Content -->
    <div class="container-fluid">
	
	<h1 class="h3 mb-0 text-primary">Faturamentos</h1>
	
	<!-- Divider -->
	<hr class="sidebar-divider">
	
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Segmento Espacial</h5>
                </div>
                <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>Deve ser feito no 1° dia útil do mês, tem o prazo limite de entrega até o dia 06.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/sto/artigo-68">como gerar o faturamento do Segmento Espacial</a>.</p>
                </div>
            </div>
        </div>
        
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Segmento Espacial Internacional (NCRI)</h5>
                </div>
                <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>Deve seguir uma agenda que é definida pela Star One, no fim do ano é enviado as datas do ano seguinte, geralmente dia 16, ou primeiro dia útil anterior a essa data.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/sto/artigo-25">como gerar o faturamento do Segmento Espacial Internacional</a>.</p>
                </div>
            </div>
        </div>
        
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">SPSAT: Gateway</h5>
                </div>
               <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>A STO avisa quando os dados estão disponíveis para faturamento, geralmente fazemos entre os dias 10 e 14.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/sto/artigo-69">como gerar o faturamento do SPSAT: Gateway</a>.</p>
                </div>
            </div>
        </div>
        
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">SPSAT: Aluguel de Equipamento (Descontinuado)</h5>
                </div>
                <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>Serviço não está sendo faturado no momento.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/sto/artigo-152">como gerar o faturamento do SPSAT: Aluguel de Equipamento</a>.</p>
                </div>
            </div>
        </div>
        
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">SPSAT: Tráfego NaMedida (Descontinuado)</h5>
                </div>
                <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>Serviço não está sendo faturado no momento.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/sto/artigo-99">como gerar o faturamento do SPSAT: Tráfego NaMedida</a>.</p>
                </div>
            </div>
        </div>
        
        <!-- Content Column -->
        <div class="col-lg-12 mb-12 py-2">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Aluguel de Transponder (Descontinuado)</h5>
                </div>
                <div class="card-body">
                	<h6 class="m-0 font-weight-bold text-primary py-2">Quando fazer?</h6>
                    <p>Serviço não está sendo faturado no momento.</p>
                    <h6 class="m-0 font-weight-bold text-primary py-2">Como fazer?</h6>
                    <p>Para saber como fazer, acesse o artigo que explica <a href="/sto/artigo-100">como gerar o faturamento do Aluguel de Transponder</a>.</p>
                </div>
            </div>
        </div>
              
	</div>
	
	</main>    

</body>
</html>